In [1]:
import pandas as pd
import numpy as pn
import seaborn as sns
import matplotlib.pyplot as plt

%matplotlib inline

In [2]:
df=pd.read_csv('Temp_and_rain.csv')

In [3]:
df.head()

       tem  Month  Year      rain
0  16.9760      1  1901   18.5356
1  19.9026      2  1901   16.2548
2  24.3158      3  1901   70.7981
3  28.1834      4  1901   66.1616
4  27.8892      5  1901  267.2150

tem: Average temperature for the month.
    
Month: The month for the data point, ranging from 1 (January) to 12 (December).
    
Year: The year of the data point.
    
rain: Total rainfall for the month.

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1380 entries, 0 to 1379
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   tem     1380 non-null   float64
 1   Month   1380 non-null   int64
 2   Year    1380 non-null   int64
 3   rain    1380 non-null   float64
dtypes: float64(2), int64(2)
memory usage: 43.3 KB

In [5]:
df.describe()

               tem        Month        Year         rain
count  1380.000000  1380.000000  1380.00000  1380.000000
mean     25.066213     6.500000  1958.00000   203.275431
std       3.682411     3.453304    33.20842   202.730898
min      16.800600     1.000000  1901.00000     0.000000
25%      22.114125     3.750000  1929.00000    18.498850
50%      27.012950     6.500000  1958.00000   145.086000
75%      28.007850     9.250000  1987.00000   347.639500
max      29.526000    12.000000  2015.00000  1012.020000

In [6]:
df['tem'].max()

29.526